.col-lg-12
  .side-actions
    = link_to(t("admin.actions.back", resource: "usuarios"), admin_users_path, class: "btn")
  %h2= t("admin.users.title_edit", user: @user.email)
  = render partial: "form", locals: {user: @user, submit_button_text: t("admin.users.edit_button")}